@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
html, body {
    padding: 0;
    box-sizing: border-box;
    margin:0;
    height: 100%;
    font-size: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: initial;
}
.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.main {
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.main-title {
    font-size: 60px;
}
.main-button {
    background: #005cab;
    text-transform: uppercase;
    padding: 17px 50px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
}
.main-button:hover {
    background: #004683
}
.format-button{
    height: 200px;
    width: 230px;
    box-shadow: 3px 2px 4px rgba(0,0,0,.3);
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 20px;
}
.format-button:hover {
    background-color: rgb(224, 224, 224);
}
.format-button-logo {
    height: 90px;
    display: block;
    margin: 0px 0 20px;
}



/*pick teams*/
.teams-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    max-width: 1200px;
}
.team-list-item {
    width: calc(33.3% - 40px);
    margin: 20px;
    background: #f3f3f3;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: 70px;
}
.team-list-item-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 9;
}
.team-list-item-checkbox {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    z-index: 2;
}
.team-list-item-checkbox:checked + .team-list-item-background {
    background: #c5e7ff;
}

.team-list-item-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.team-list-item-location {
    z-index: 2;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
}
.team-list-item-name {
    z-index: 2;
    align-self: center;
}