@page "/pick-teams"
@inject NavigationManager NavigationManager
@inject SimulationContainer SimulationContainer;
@using System.Net.Http.Json
@inject HttpClient Http
@using CurlingSimulator




<h1 class='page-title pick-teams-title'>Pick Teams</h1>

<p class='pick-teams-text'>Pick @SimulationContainer.Tournament.NumberOfTeams</p>

<ul class='teams-list'>
    @if (rankings != null){
        @for (var i = 0; i < rankings.Count; i++)
        {
            <li class='team-list-item'>
                <input type="checkbox" id="@i" />
                <label class="team-list-item-label" for="@i">
                    <div class="team-list-item-location">
                        <img src="/images/locations/@rankings[i].location" />
                    </div>
                    <div class="team-list-item-name">
                        @rankings[i].name
                    </div>
                </label>
                
            </li>
        }
    }
</ul>

<button class='done-button continue-button' @onclick="NavigateToSimulationResults">Simulate</button>

@code { 

    private List<TeamRanking> rankings;

    protected override async Task OnInitializedAsync()
    {
        rankings = await Http.GetFromJsonAsync<List<TeamRanking>>("/json/rankings.json");
    }
    private void NavigateToSimulationResults() 
    { 
        RunTournament();
        NavigationManager.NavigateTo("simulation-results"); 
    }

    protected void RunTournament()
    {
        if (SimulationContainer.State != SimulationState.NotStarted)
        {
            SimulationContainer.RestartTournament();
        }
        SimulationContainer.State = SimulationState.Running;
        SimulationContainer.Tournament.AddTeam(new Team("Hasselborg", null, 1));
        SimulationContainer.Tournament.AddTeam(new Team("Tirinzoni", null, 4));
        SimulationContainer.Tournament.AddTeam(new Team("Fujisawa", null, 5));
        SimulationContainer.Tournament.AddTeam(new Team("Muirhead", null, 8));
        SimulationContainer.Tournament.AddTeam(new Team("Kovaleva", null, 13));
        SimulationContainer.Tournament.AddTeam(new Team("Roth\t", null, 14));
        SimulationContainer.Tournament.AddTeam(new Team("Kubeskova", null, 75));
        SimulationContainer.Tournament.AddTeam(new Team("Halse\t", null, 168));
        SimulationContainer.Tournament.AddTeam(new Team("Jentsch\t", null, 25));
        SimulationContainer.Tournament.AddTeam(new Team("Gim\t", null, 15));
        SimulationContainer.Tournament.AddTeam(new Team("Sullanmaa", null, 152));
        SimulationContainer.Tournament.AddTeam(new Team("Han\t", null, 36));
        SimulationContainer.Tournament.AddTeam(new Team("Carey\t", null, 10));

        for (var i =0; i < 1; i++)
        {
            SimulationContainer.Tournament.Run();
        }
        SimulationContainer.State = SimulationState.Finished;
    }    
}

