@page "/pick-format"
@inject NavigationManager NavigationManager
@inject SimulationContainer SimulationContainer;
@using CurlingSimulator
@inject WorldsTournament TournamentObject

<h1 class='page-title pick-format-title'>Pick Tournament Format</h1>

<button class="format-button continue-button" @onclick="NavigateToPickTeams">
    <span class="format-button-logo world-women-logo"></span> 
    <span class="format-button-text">Women's Worlds</span>
</button>


@code { 
    private void NavigateToPickTeams() 
    {
        SimulationContainer.TournamentType = TournamentType.Worlds;
        SimulationContainer.RestartTournament();
        NavigationManager.NavigateTo("pick-teams"); 
    } 
}