@page "/pick-teams"
@inject NavigationManager NavigationManager
@inject SimulationContainer SimulationContainer;
@using CurlingSimulator




<h1 class='page-title pick-teams-title'>Pick Teams</h1>

<button class='done-button continue-button' @onclick="NavigateToSimulationResults">Simulate</button>

@code { 
    private async Task<List<TeamRanking>> GetTeamRankings()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }
    private void NavigateToSimulationResults() 
    { 
        RunTournament();
        NavigationManager.NavigateTo("simulation-results"); 
    }

    protected void RunTournament()
    {
        SimulationContainer.Reset();
        SimulationContainer.State = SimulationState.Running;
        SimulationContainer.Tournament.AddTeam(new Team("Hasselborg", null, 1));
        SimulationContainer.Tournament.AddTeam(new Team("Tirinzoni", null, 4));
        SimulationContainer.Tournament.AddTeam(new Team("Fujisawa", null, 5));
        SimulationContainer.Tournament.AddTeam(new Team("Muirhead", null, 8));
        SimulationContainer.Tournament.AddTeam(new Team("Kovaleva", null, 13));
        SimulationContainer.Tournament.AddTeam(new Team("Roth\t", null, 14));
        SimulationContainer.Tournament.AddTeam(new Team("Kubeskova", null, 75));
        SimulationContainer.Tournament.AddTeam(new Team("Halse\t", null, 168));
        SimulationContainer.Tournament.AddTeam(new Team("Jentsch\t", null, 25));
        SimulationContainer.Tournament.AddTeam(new Team("Gim\t", null, 15));
        SimulationContainer.Tournament.AddTeam(new Team("Sullanmaa", null, 152));
        SimulationContainer.Tournament.AddTeam(new Team("Han\t", null, 36));
        SimulationContainer.Tournament.AddTeam(new Team("Carey\t", null, 10));

        for (var i =0; i < 1; i++)
        {
            SimulationContainer.Tournament.Run();
        }
        SimulationContainer.State = SimulationState.Finished;
    }    
}

