@page "/pick-format"
@inject NavigationManager NavigationManager
@inject SimulationContainer SimulationContainer;
@using CurlingSimulator
@inject WorldsTournament TournamentObject
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Newtonsoft.Json
@inject PageState PageState

<h1 class='page-title pick-format-title'>Pick Tournament Format</h1>

<div class="format-container">
    <button class="format-button" @onclick="@(e => NavigateToPickTeams(TournamentType.Worlds, Gender.Female))">
        <span class="format-button-logo world-women-logo"></span> 
        <span class="format-button-text">Women's Worlds</span>
    </button>
    <button class="format-button" @onclick="@(e => NavigateToPickTeams(TournamentType.Worlds, Gender.Male))">
        <span class="format-button-logo world-men-logo"></span> 
        <span class="format-button-text">Men's Worlds</span>
    </button>
    <button class="format-button" @onclick="@(e => NavigateToPickTeams(TournamentType.CanadaNational, Gender.Female))">
        <span class="format-button-logo scotties-logo"></span> 
        <span class="format-button-text">Scotties</span>
    </button>
    <button class="format-button" @onclick="@(e => NavigateToPickTeams(TournamentType.CanadaNational, Gender.Male))">
        <span class="format-button-logo brier-logo"></span> 
        <span class="format-button-text">Brier</span>
    </button>
</div>

@code { 

    protected override void OnInitialized()
    {
        PageState.SetState(LoadingState.Finished, null);
    }

    private async void NavigateToPickTeams(TournamentType tournamentType, Gender gender) 
    {
        PageState.SetState(LoadingState.Loading, "Loading teams...");
        await Task.Delay(1000);
        
        SimulationContainer.TournamentType = TournamentType.Worlds;
        SimulationContainer.Gender = gender;
        SimulationContainer.Rankings = null;
        SimulationContainer.RestartOrInitTournament();
        await localStorage.SetItemAsync("SimulationContainer", JsonConvert.SerializeObject(SimulationContainer)); 
        NavigationManager.NavigateTo("pick-teams");

    } 
}