@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject PageState PageState;


<div class='main @(Hidden ? "hidden" : "")'>
        @Body
</div>
<div class='loader-container-container @(PageState.State == LoadingState.Loading ? "visible" : "")'>
        <div class="loader-container">
                <img class="loader" src="images/loader.png">
                <div class='loader-text'>@PageState.LoadingText</div>
        </div>
        
</div>


@code 
{
        private bool Hidden = true;
        protected override async Task OnInitializedAsync()
        {
                await Task.Delay(500);
                Hidden = false;
        }

        protected override void OnInitialized()
        {
                PageState.SetState(LoadingState.Finished, null);
                PageState.OnChange += StateHasChanged;
        }
        
}